{% extends 'CoreBundle:common:layout.html.twig' %}
{% block body %}
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid aut consequuntur cum deleniti dolore explicabo fugit, ipsam iusto laudantium magni necessitatibus neque quas quibusdam repellat, sapiente totam. Aperiam, numquam.</div>
    <br>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias fugiat impedit inventore modi nam neque nesciunt optio similique sint vero. A aperiam at beatae corporis debitis ea et ipsa, vero!</div>
    <br>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A inventore minus nostrum praesentium qui! Asperiores culpa, deleniti exercitationem fugiat harum hic, molestias nemo nostrum numquam quas, quidem repudiandae sequi unde?</div>
    <br>
{% endblock %}
