{% extends 'CoreBundle:common:layout.html.twig' %}
{% block body %}
    <ul class="nav nav-pills ct-green no-border">
        <li class="active"><a>Présentation</a></li>
        <li><a>Histoire</a></li>
        <li><a>Droit animal</a></li>
    </ul>
    <div class="tab_content">
        <div id="presentation" class="presentation fadein">
            {% include 'CoreBundle:home:presentation.html.twig' %}
        </div>
        <div class="histoire">
            {% include 'CoreBundle:home:story.html.twig' %}
        </div>
        <div class="droit-animal">
            {% include 'CoreBundle:home:animal-right.html.twig' %}
        </div>
    </div>
{% endblock %}
