<img src="{{ asset('assets/dist/images/presentationimage.jpg') }}"/>
<p>L'association Des Sabots et du Coeur est née d'un désir commun de venir en aide à nos amis les chevaux, qu'ils soient retraités ou qu'ils aient des problèmes de santé.</p>
<p>L'association n'a pas de refuge. Elle fait l'intermédiaire entre les chevaux et leurs futurs propriétaires, et permet leur placement.</p>
<p>Si vous voulez faire partie de l'aventure, n'hésitez pas à visiter notre site !</p>
<blockquote>
    <p>
        Le cheval ne nous appartient pas. La seule chose que nous possédons, c'est le devoir de nous en occuper correctement
    </p>
    <footer>
        <cite>-Proverbe Indien</cite>
    </footer>
</blockquote>