<h4>Evelyne et son grand coeur</h4>
<p>
    Ils ne s'en doutent pas, mais les trois compères que voilà sont les instigateurs de cette aventure qui a vu le jour en 2007!
</p>
<p>
    Bunny le gentil pépère de 21ans, Usolivette la facétieuse de 27ans, et Univers au doux regard de 24 ans...
    Tous ont rencontrés leur ange bienfaitrice Evelyne au club de Rouffach, où ils exerçaient leurs talents de chevaux de selle.
    Ce n'est pas que leur vie leur déplaisait, mais il fallait bien un jour ou l'autre quitter la joyeuse agitation du club, pour trouver une "maison de retraite" pour un repos bien mérité!</p>
<p>
    C'est Univers qui le premier fit craquer le coeur d'Evelyne en Mai 2007, suivit de près par Usolivette en Juin.
    Univers avait sû conquérir son coeur dès le début de leur rencontre et ils partagèrent des heures de manège et de balades, ce qui renforce les liens forcément :).
    Ce n'était pas gagné pour Usolivette, mais avec son petit air malicieux, le tour était joué !
</p>
<p>
    C'est en Automne que Bunny fit chavirer le coeur D'Evelyne, qui a tout mis en oeuvre pour le racheter aux haras. Et voilà, les trois papis/mamies réunis !
</p>
<p>
    Racheter des chevaux est une chose....
    mais pouvoir les assumer sur le long terme est une chose que tout propriétaire doit savoir anticiper et assurer !
    Cette soudaine résponsabilité lui faisant un peu peur, l'idée commune avec une de ses amies, Marie-Thérèse leur est donc venue de créer une association pour parrainer les vieux chevaux et les aider à jouir d'une retraite heureuse et méritée.
</p>
<p>
    La même année, Anneli, notre secrétaire, a sauvé Bigamia une belle jument grise de l'abattoir où son ancienne propriétaire l'envoyait après de bons et loyaux services!
    Il s'en est fallut de peu, puisqu'elle se trouvait déjà là-bas... où un misérable "tas d'os de 30ans", Maygoby, attendait aussi sa dernière heure.

    C'était sans compter Anneli, Cathy et les autres pour le sauver et le ramener à l'écurie où tous ces papilous vivent désormais choyés, dorlotés, aimés par celles qui ont croisé leur chemin.</p>
<p>Voilà donc comment a vu le jour notre association... Et oui! On nous reproche souvent à nous les femmes d'être trop sensibles, émotives etc,... mais que seraient-ils devenus sans ce sentiment collectif?

    Alors, oui! continuez à nous faire chavirer les coeurs petits et grands dadas.... Tant que nous serons là, unies pour vous offrir la tranquilité et l'amour que vous méritez, vous ne craignez rien!</p>
<h4>Les Sabotés du Coeur sont armées pour vous sauver! ;)</h4>
<blockquote>
    <p>Dans ce vaste monde, où pourrait-on trouver quelqu'un qui soit noble mais sans orgueil, amical sans être envieux, beau sans vanité ? Ici, se retrouvent liées la grâce et la puissance musculaire, la force et la gentillesse. Il sert sans être servile, il a combattu sans animosité. Rien n'est plus puissant et moins violent, plus rapide et plus patient.</p>
    <footer>
        <cite>Ronald Duncan</cite>
    </footer>
</blockquote>