<nav class="navbar navbar-ct-green headerNav" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse">
        <div class="nav navbar navbar-brand col-lg-1">
            <img src="{{ asset('assets/dist/images/logo.jpg') }}" alt="">
        </div>
        <div class="col-lg-11">
            <h1 class="col-lg-12">
                Des Sabots et du Cœur
                <small class="subtitle">Association de placement d'équidés basée dans le Haut-Rhin (68).</small>
            </h1>
            <ul class="nav navbar-nav col-lg-12">
                <li>
                    <a href="{{ path('Core_index') }}"><i class="fas fa-home"></i>Accueil</a>
                </li>
                <li>
                    <a href="#"><i class="fab fa-sticker-mule"></i>Les chevaux</a>
                </li>
                <li>
                    <a href="#"><i class="fas fa-smile"></i>Nous Aider</a>
                </li>
                <li>
                    <a href="#"><i class="fas fa-camera-retro"></i>Photos</a>
                </li>
                <li>
                    <a href="#"><i class="fas fa-at"></i>Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>